@media only screen and (max-width: 768px) {
  .appBarForm {
    display: inline-block;
    
  }

  .logos {
    margin: 0 1%;
  }
  .logos-container {
    margin: 3% 1% 0;
    background-color: red;
  }
}
